      * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: black;
            color: #fff;
        }

        div.container {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 540px;
            margin: 20px auto;
            padding: 20px;
            background-color: #222;
        }

        input {
            padding: 10px;
            margin: 15px 0;
            border-radius: 5px;
        }
        div.resultado {
            border-radius: 5px;
            border: 2px solid #fff;
            padding: 10px;
            font-size: 1.3em;
            margin-top: 10px;
        }